html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}


.Spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Spinner::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: auto;
  border: 0.25rem solid #ccc;
  border-top-color: #ff4a4a;
  animation: spinner-rotate 0.75s infinite linear;

}


@keyframes spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }

  .main {
    padding: 3rem 0;
  }

  .grid {
    flex-direction: column;
  }

  .title,
  .description {
    text-align: center;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1.25rem;
  }
}